*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-fammily-nunito);
  font-size: var( --font-size-s);
  line-height: 1.6;
  background-color: var(--blanc);
  font-weight: 300;
}

h1,
h2 {
  font-family: var(--font-fammily-krana-one);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-tight);
}

h1 {
  font-size: var(--fs-4xl);
}

h2 {
  font-size: var(--fs-2xl);
}

h3 {
  line-height: var(--line-height-loose);
}

input,
select,
textarea {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Pour rendre invisible mais laisser accessible */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.noscroll {
  overflow: hidden;
}

.highlight {
  background-color: var(--primary);
  padding: 4px var(--space1x);
  font-weight: 500;
}

.contact__rectangle {
  margin-left: 20px;
  margin-bottom: 50px;
}

.contact__title {
  font-family: "Jersey 25";
  font-size: 1.5rem;
  text-align: center; 
}

.contact__text {
  font-family: "Jersey 15";
  text-align: center;
  margin-right: 10px;
}

.contact__rectangle__text {
  color: var(--blanc);
  margin-left: 45px;
}

.contact__rectangle__button {
  background-color: var(--rouge);
  border-radius: 25px;
  width: 185px;
  height: 40px;
  margin-left: 100px;
  margin-top: 20px;
}

.contact__rectangle--ovale,
.contact__rectangle--bigovale {
  margin-left: 45px;
}

.info__title {
  font-family: "Jersey 25";
  font-size: 1.5rem;
  text-align: center; 
}

.section__title {
  position: relative;
  z-index: 1;
  background-color: var(--blanc);
  padding: 10px;
}
.section__subtitle{
  text-align: center;
  margin-top: 10px;
  font-size: var( --font-size-m);
}
.section__images{
  background-color: var(--bordeaux);
}
.section__title{
  text-align: center;
  margin-top: 10px;
  font-size: var( --font-size-l);
  font-weight: var(--font-weight-bold);
}
.arrow-down {
  color: var(--rouge);
  display: flex;
  
}

.arrow {
  width: 300px;
}

.ImgHome {
  width: 100%;
  height: 100%;
}

.arrow-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  
  position: relative;
  /* Adjust this value to position the content next to the arrow */
}

.arrow-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing between items */
  height: 137px;
}

.arrow-img {
  width: 80px; /* Adjust the size of the images */
  height: auto;
  margin-right: 10px; /* Space between image and text */
}

.arrow-title {
  font-size: 1rem;
  margin: 0 10px 0 0;
  color: var(--noir); /* Space between title and text */
}

.arrow-text {
  font-size: 0.875rem;
  color: var(--noir);
}
.frise_title{
  text-align: center;
  font-weight: var(--font-weight-bold);
} 