.header {
    position: relative;
    left: 0;
    width: 100%;
    padding: var(--space2x) var(--space3x);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bordeaux);
  }
  
  .header__logo {
    display: block;
    margin: 20px;
  }

  .header__title {
    color: var(--beige-claire, #EFE6C7);
    font-family: var(--font-fammily-krona-one);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-regular);
  }