.section__description {
    margin-bottom: 0%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    color: var(--beige-clair);
    margin-left: 20px;
    margin-right: 20px;
}

.section__title{
    color: var(--noir);
    font-family: var(--font-fammily-krona-one);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-regular);
}

.section__subtitle{
    color: var(--noir);
    font-family: var(--font-fammily-krona-one);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
}

.section__video{
    width: 90%;
    margin: 20px;
}

.section__image{
    margin:20px;
    width: 90%;
}

.section__lien{
    font-weight: var(--font-weight-bold-italic);
    color: var(--rouge);
    margin: 20px;
}

.section__textdiv{
    display: flex;
    margin: 20px;
}

/* page galerie */

li.section__item {
    height: 548px;
    width: 328px;
    background-color: #BE7111;
    border-radius: 3px;
    max-width: 300px;
    margin: 20px;
    overflow: hidden;
    display: flex
;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}